.groups {
    display: flex;
    gap: 10px;
    align-items: start;
}
.group {
    border: 1px solid #ccc;
    padding: 10px;
    background: #eee;
}

.h3 {
    margin: 0 0 16px 0;
}

.item {
    background: #fff;
    padding: 10px 16px;
    cursor: grab;
}

.item.current {
    background: #82dff8;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}